
.text-field{
    -fx-effect: dropshadow(three-pass-box, #a5a3a3, 5, 0, 0, 7);

}

.label{
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
}
.choice-box{
    -fx-effect: dropshadow(three-pass-box, #a5a3a3, 5, 0, 0, 7);
}
.button1{
    -fx-background-color: #03e403;
    -fx-effect: dropshadow(three-pass-box, #a5a3a3, 5, 0, 0, 7);
    -fx-text-fill: bold;
    -fx-font-family: "Times New Roman";
}
.button1:hover{
    -fx-background-color: #02a102;
    -fx-text-fill: white;
}
.button2{
    -fx-background-color: red;
    -fx-effect: dropshadow(three-pass-box, #a5a3a3, 5, 0, 0, 7);
    -fx-text-fill: bold;
    -fx-font-family: "Times New Roman";
}
.button2:hover{
    -fx-background-color: #710101;
    -fx-text-fill: white;

}
