
.cell_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 7);
}

.trans_icon_container {
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-spacing: 5;
}

.trans_date_lbl {
    -fx-text-fill: #AAAAAA;
    -fx-font-weight: 700;
}

.trans_pAddress_lbl {
    -fx-text-fill: #000000;
    -fx-font-weight: 700;
}

.cell_container Line {
    -fx-stroke: #EEEEEE;
}

.message_btn {
    -fx-background-color: #FFFFFF;
}

.message_btn FontAwesomeIconView {
    -fx-fill: #132A13;
}

.message_btn:hover {
    -fx-cursor: hand;
}

.trans_amount_lbl {
    -fx-background-color: #132A13;
    -fx-background-radius: 2;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5;
    -fx-font-weight: 700;
}

.trans_amount_lbl FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}
.trans_pAddress_lbl1 {
    -fx-text-fill: #000000;
    -fx-font-size: 24;
    -fx-font-weight: 700;
}
.button1{
    -fx-effect: dropshadow(three-pass-box, #757474, 5, 0, 3, 7);
    -fx-font-weight: bold;
    -fx-text-fill:white ;
    -fx-text-alignment: center ;
    -fx-background-color: red;
    -fx-background-radius: 5;
}
.button2{
    -fx-effect: dropshadow(three-pass-box, #757474, 5, 0, 3, 7);
    -fx-font-weight: bold;
    -fx-text-fill:white ;
    -fx-text-alignment: center ;
    -fx-background-color: #16f306;
    -fx-background-radius: 5;
}

.button4{
    -fx-background-color: #913c3c;
    -fx-text-fill: white;
}
.button4:hover {
    -fx-background-color: #8e1e1e;
}